
./Rising-Phoenix/SoverignAI/ebhutan/*
./Rising-Phoenix/SoverignAI/ebhutan/**
./Rising-Phoenix/SoverignAI/ebhutan/**
./Rising-Phoenix/SoverignAI/ebhutan/Lib
./Rising-Phoenix/SoverignAI/ebhutan/Lib/**
./SoverignAI/ebhutan/*
./SoverignAI/ebhutan/**
./SoverignAI/ebhutan/**
./SoverignAI/ebhutan/Lib
./SoverignAI/ebhutan/Lib/**
